/*
===== Mobile Styles =====

(Not to be implimented till later versions.)
*/

/*
===== Desktop Styles =====
*/

@media only screen and (min-width: 800px) {
    /*
    ===== Background Formatting =====
    - Sets the site font to Ubuntu.
    - Removes the margin for the body element.
    - Sets the background to black.
    */
    body{
        margin: 0px;
        font-family: Consolas, monaco, monospace;
        background-color: black;
    }

    /*
    ===== Centre Console Formatting =====
    */

    section#centre-console{
        width: 30%;
        padding: 20px 10px;
        margin: 100px auto;
        text-align: left;
        /*border-radius: 100%;*/
        color:green;
        background-color: rgba(0, 0, 0, 0.45);
        
    }

    section#centre-console:hover{
        background-color: rgba(6s0, 60, 60, 0.45);
    }

    /*
    ===== Header Formatting =====
    - Sets the header to be a solid bar at the top of the page.
    - Deals with the color scheme of the header and the text visability.
    */
    header {
        display: inline;
        margin: 0px;
        padding: 10px 14px;
        font-size: 2em;
        /* width: 100%; */
        color: white;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.45);
    }

    /* Floating double bar to thte left boarder around */
    #doubleBar{
        display: inline;
        padding: 2px;
        border-style: none none none double;
        border-color: green;
        border-width: thick;
    }

    .leftcolumn {   
        float: left;
        width: 75%;
      }
      
      /* Right column */
      .rightcolumn {
        float: left; 
        width: 25%;
        background-color: #f1f1f1;
        padding-left: 20px;
      }
      
      /* icons? */
      .img {
        width: 100%;
        padding: 20px;
      }
      
      /* Add a card effect for articles */
      .card {
        background-color: white;
        padding: 20px;
        margin-top: 20px;
      }
      
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
}

