/*
===== Mobile Styles =====

(Not to be implimented till later versions.)
*/

/*
===== Desktop Styles =====
*/

@media only screen and (min-width: 800px) {
    /*
    ===== Background Formatting =====
    - Sets the site font to Ubuntu.
    - Removes the margin for the body element.
    - Sets the background to black.
    */
    body{
        margin: 0px;
        font-family: Consolas, monaco, monospace;
        background-color: black;
    }

    /*
    ===== Centre Console Formatting =====
    */

    section#centre-console{
        width: 30%;
        padding: 20px 10px;
        margin: 100px auto;
        font-size: 1.2em;
        text-align: left;
        /*border-radius: 100%;*/
        color:green;
        background-color: rgba(0, 0, 0, 0.45);
        float: right;        
    }

    section#centre-console:hover{
        background-color: rgba(6s0, 60, 60, 0.45);
    }

    /*
    ===== Header Formatting =====
    - Sets the header to be a solid bar at the top of the page.
    - Deals with the color scheme of the header and the text visability.
    */
    header {
        display: inline;
        margin: 0px;
        padding: 10px 14px;
        font-size: 2em;
        /* width: 100%; */
        color: white;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.45);
    }

    /* Floating double bar to thte left boarder around */
    .doubleBar{
        display: inline;
        padding: 2px;
        border-style: none none none double;
        border-color: green;
        border-width: thick;
    }

    .leftpanel {
        display: fixed;
        float: left;
        padding: 25px 5px;
        width: 350px;
        
    }

    table, th, td {
        border-style: none none double none;
        border-color: green;
        color: green;
        overflow-x: auto;
    }

    th, td {
        height: 20px;
        text-align: left;
        padding: 5px;
    }

    /* Stop selection on the double click */
    .no-select {
        -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
           -khtml-user-select: none; /* Konqueror HTML */
             -moz-user-select: none; /* Old versions of Firefox */
              -ms-user-select: none; /* Internet Explorer/Edge */
                  user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome, Opera and Firefox */
      }
}

