/*
===== Mobile Styles =====

(Not to be implimented till later versions.)
*/

/*
===== Desktop Styles =====
*/

@media only screen and (min-width: 800px) {
    /*
    ===== Background Formatting =====
    - Sets the site font to Ubuntu.
    - Removes the margin for the body element.
    - Sets the background to black.
    */
    body{
        margin: 0px;
        font-family: "Ubuntu", sans-serif;
        background-color: black;
    }

    /*
    ===== Centre Console Formatting =====
    */

    section#centre-console{
        width: 30%;
        padding: 20px 10px;
        margin: 100px auto;
        text-align: center;
        /*border-radius: 100%;*/
        color: white;
        background-color: rgba(0, 0, 0, 0.45);
    }

    /*
    ===== Header Formatting =====
    - Sets the header to be a solid bar at the top of the page.
    - Deals with the color scheme of the header and the text visability.
    */
    header {
        margin: 0px;
        padding: 10px 14px;
        font-size: 2em;
        width: 100%;
        color: white;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.45);
    }
}

